@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&family=PT+Sans+Narrow&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171010;
    font-size: 1.2rem;
    color: #EDEDED;
    font-family: Comfortaa, sans-serif;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo img {
    width: 20%;
}

.brand-logo-name {
    margin-left: 1rem;
}

.main-nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav a {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    cursor: pointer;
}

.main-nav a:hover {
    color: #FF1E56;
}

.dropdown a {
    display: none;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}